/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: orange;
  margin-left: -8px;
  margin-top: -8px;
}

.header {
  position: relative;
  height: 120px;
  width: 100%;
  background-color: black;
}

.logo {
  position: absolute;
  height: 100px;
  width: 440px;
  background-color: green;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-social {
  position: relative;
  height: 100px;
  width: 40%;
  background-color: purple;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.social-icons {
  position: relative;
  height: 30px;
  width: 160px;
  background-color: yellow;
    float: right;
}

.navigation {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: pink;
  margin-top: 60px;
}

.navigation ul {
  list-style: none;
  margin-left: -40px;
  padding-top: 8px;
}

.navigation ul li {
  display: inline;
  background-color: gray;
  margin-right: 0px;
  font-size: 26px;
  font-family: Arial;
  padding-left: 5px;
  padding-right: 5px;  
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: blue;
}

.content {
  position: relative;
  min-height: 500px;
  width: 70%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden;
}

.news-content {
  position: relative;
  height: 500px;
  width: 60%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.news-post {
  background-color: orange;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.tour-dates {
  position: relative;
  min-height: 200px;
  width: 50%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.tour-dates h1 {
  padding-top: 10px;
}

.tour-dates table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.tour-dates th {
  text-align: left;
}

.music-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.track {
  margin-bottom: 10px;
}

.video-list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.video {
  margin-bottom: 30px;
}

.video iframe {
  display: block;
  height: 315px;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

#instafeed {
  margin-left: auto;
  margin-right: auto;
}

#instafeed img {
  margin-left: 2.5%;
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
  opacity: 0.8;
}

#instafeed img:hover {
  opacity: 1;
}

.about {
  margin-left: 12px;
  margin-right: 15px;
}

.about-left {
  max-width: 50%;
}

.about-image {
  float: right;
  max-width: 50%;
  margin-left: 15px;
  margin-bottom: 30px;
}



/* THE FOLLOWING IS FOR THE ADMIN
PAGES OF THE WEBSITE */
.admin-background {
/*  background-color: orange;*/
  background-image: url(red-rocks-panorama.jpg);
  background-size: cover;
  background-position: -300px;
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin-left: -8px;
}

.top-bar {
  background-color: #CCC;
  height: 40px;
  min-width: 100%;
  margin-left: -8px;
  margin-top: -8px;
  border-bottom: 1px solid #BBB;
  overflow: hidden;
}

.top-bar p {
  font-family: Arial;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 5px;
}

.admin-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 40px;
}

.admin-header {
  background-color: rgba(30,30,30,0.6);
  width: 350px;
  min-height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.admin-header h1 {
  padding-top: 4px;
  color: white;
}

.side-menu {
  background-color: #C2DAFF;
  width: 200px;
  float: left;
  height: 168px;
  border-radius: 3px;
}

h1 {
  text-align: center;
  font-family: Arial;
}

.element-title {
  padding-left: 7px;
}

#create-bio {
  width: 170px;
  min-height: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

.bio-button {
  position: relative;
  width: 95%;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

#bio-top {
  background-color: #DDDDDD;
  width: 100%;
  margin-bottom: -2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#bio-top:hover {
  background-color: #BBBBBB;
}

#bio-bottom {
  background-color: #888888;
  width: 100%;
  margin-top: -4px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#bio-bottom:hover {
  background-color: #BBBBBB;
}

hr {
  margin-top: 2px;
  margin-bottom: 4px;
}

.bio-text {
  width: 90%;
  height: 300px;
  overflow: scroll;
}

.new-entry {
  font-family: Arial;
  padding-left: 8px;
  padding-top: 5px;
  margin-bottom: -7px;
}

.nav-button {
  position: relative;
  float: right;
  font-family: Arial;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-top: 5px;
}

.page-contents {
  background-color: rgba(220,220,220,0.85);
  width: 50%;
  height: 75%;
  margin: 0 auto;
  border-radius: 5px;
}

.page-contents table {
  background-color: rgba(128,128,128,0.2);
  position: relative;
  width: 100%;
  margin-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-contents table th {
  text-align: left;
}

.page-contents p {
  margin: 10px;
  padding-top: 5px;
}

.field {
  padding-left: 10px;
  padding-top: 5px;
}

form {
  font-family: Arial;
  font-size: 16px;
}

input {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 3px;
}

.text-area {
  position: relative;
  width: 75%;
  padding-left: 10px;
  padding-bottom: 10px;
}

textarea {
  max-width: 640px;
  max-height: 260px;
  border: none;
  border-radius: 5px;
  overflow: scroll;
  font-family: Arial;
  font-size: 16px;
}

.actions {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: -7px;
}

.submit-button {
  background-color: rgba(20,20,20,0.8);
  color: white;
}

.submit-button:hover {
  cursor: pointer;
}

.back-button {
  float: right;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial;
}

.options {
  background-color: #C2DAFF;
  width: 300px;
  height: 168px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 3px;
}

.option {
  position: relative;
  background-color: #7EBFFF;
  margin-top: -24px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.option p {
  color: white;
  font-family: Arial;
  font-size: 26px;
  margin-left: 5px;
}

.option:hover {
  background-color: #8FCFFF;
}

.login-info {
  background-color: orange;
  width: 15%;
  height: 75%;
  margin: 0 auto;
  border-radius: 5px;
}

.login-info .field {
    margin: 0 auto;
}

.login-info .actions {
  margin-top: 15px;
}

.song-link {
  width: 90%;
  min-height: 100px;
  max-height: 100px;
}

.vid-link {
  width: 90%;
  min-height: 50px;
  max-height: 50px;
}



/* MEDIA QUERIES BEGIN HERE */
/* THE FIRST SEVERAL... UP UNTIL IPADS... ARE FOR BREAKPOINTS FOR THE HEADER */

@media (max-width: 1280px) {
    .navigation ul li {
        font-size: 24px;
    }
}

@media (max-width: 1205px) {
    .navigation ul li {
        font-size: 22px;
    }
}

@media (max-width: 1125px) {
    .navigation ul li {
        font-size: 20px;
    }
}

@media (max-width: 1050px) {
    .nav-social {
        width: 47%;
    }
    .navigation ul li {
        padding-left: 2px;
        padding-right: 2px;
        margin-right: 0px;
    }
}

@media (max-width: 892px) {
    .nav-social {
        width: 47%;
    }
    .navigation ul li {
        margin-right: 0px;
        padding-left: 1px;
        padding-right: 1px;
    }

    .logo {
        width: 385px;
        height: 88px;
    }
}

/* FOR IPADS */
@media (max-width: 768px) {
    .header {
        background-color: white;
    }

    .logo {
        height: 75px;
        width: 330px;
    }

    .nav-social {
        width: 400px;
    }

    .navigation {
        width: 100%;
    }

    .navigation ul li {
        font-size: 20px;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: 4px;
    }

}

/* FOR SMALL TABLETS */
@media (min-width: 481px) and (max-width: 767px) {
    .header {
        background-color: orangered;
        height: 450px;
        margin-top: -60px;
    }

    .logo {
        position: absolute;
        margin-top: 70px;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        height: 100px;
    }

    .nav-social {
        position: absolute;
        width: 90%;
        height: 185px;
        float: none;
        margin-top: 190px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .navigation {
        width: 100%;
        height: 100%;
    }

    .navigation ul {
        list-style: none;
        margin-left: -30px;
        padding-top: 8px;
    }

    .navigation ul li {
        display: block;
        background-color: gray;
        margin-right: 20px;
        font-size: 20px;
        font-family: Arial;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }

    .content {
        position: relative; 
        width: 90%;
    }

}

/*--- FOR IPHONE AND OTHER SMART PHONES --- */
@media (max-width: 480px) {
    .header {
      background-color: salmon;
      height: 420px;
      margin-top: -60px;
    }

    .logo {
      position: absolute;
      margin-top: 70px;
        margin-left: 10%;
        margin-right: 10%;
      width: 320px;
    }

    .nav-social {
      position: absolute;
      width: 80%;
      height: 185px;
      float: none;
      margin-top: 170px;
      margin-left: 10%;
      margin-right: 10%;
    }

    .navigation {
      width: 100%;
      height: 100%;
    }

    .navigation ul {
    list-style: none;
    margin-left: -30px;
    padding-top: 8px;
    }

    .navigation ul li {
    display: block;
    background-color: gray;
    margin-right: 20px;
    font-size: 20px;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    }

    .content {
      position: relative; 
      width: 80%;
    }

}